<div class="jumbotron about">
  <div class="row">
    <div class="photo col-md-6 col-xs-12">
      <%=image_tag('avatar.png', alt: 'my_photo.png', class: 'img-responsive img-custom') %>
    </div>
    <div class="description col-md-6 col-xs-12">
      <h1>Igor Lukashin</h1>
      <br>
      <p>QA automation engineer since May, 2018.</p>
      <p>
        Junior developer.<br> Studying Ruby (with Ruby on Rails), Java (Spring), Swift.<br>
        Interested in webapp development, iOS/OSx.
        <%= link_to "JetBrains", "https://www.jetbrains.com/", target: '_blank' %> user.
      </p>
      <br>
      <p><%= link_to 'Write me', contacts_path %> if you need more additional information.</p>
    </div>
  </div>
</div>
