<div class="container">
  <div class="content">
    <div class="photo">
      <%= image_tag('avatar.png') %>
    </div>
    <div class="text">
      <h1>Igor Lukashin</h1>
      <br/>
      <p>Junior ruby/java developer</p>
      <p>QA automation engineer, learning Java (Spring), Ruby (Ruby on Rails). Interested in webapp development, telegram bots.</p>
      <p><%= link_to "Jet Brains", "https://www.jetbrains.com/", target: '_blank' %> user.</p>

    </div>
  </div>
  <div class="links">
    <%= link_to image_tag('facebook.png'), "https://www.facebook.com/gregoryawesoman", target: '_blank' %>
    <%= link_to image_tag('instagram.png'), "https://www.instagram.com/gregoryawesoman/", target: '_blank'%>
  </div>
</div>