$navbar-default-bg: #006400;

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #232323;
}

#logo {
  float: left;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: 700;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
#works, #about {
  color: white;
}

.center {
  text-align: center;
}

.jumbotron {
  background-color: #414141;
  height: 550px;
}

footer {
  width: 100%;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}
footer small {

}