<footer>

    <p>Powered by<%= link_to image_tag('rails_logo.png'), "https://rubyonrails.org/", target: '_blank'%>
      <%= link_to image_tag('bootstrap_logo.png'), "https://getbootstrap.com/", target: '_blank'%></p>

</footer>